<div class="col-md-4 product-item">
    <div class="product-card">
        <img src="{{image}}" alt="{{name}}" class="product-image">
        <h4>{{name}}</h4>
        <p class="price">{{price}} đ</p>
        <button class="btn btn-primary">Thêm vào giỏ</button>
    </div>
</div>
