<aside class="sidebar">
    <div class="widget">
        <h3>Danh mục</h3>
        <ul>
            <li><a href="#">Danh mục 1</a></li>
            <li><a href="#">Danh mục 2</a></li>
            <li><a href="#">Danh mục 3</a></li>
        </ul>
    </div>
    
    <div class="widget">
        <h3>Lọc giá</h3>
        <!-- Nội dung lọc giá -->
    </div>
</aside>
