<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Tài Khoản Của Tôi</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/">Trang Chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Tài Khoản</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Account Start -->
<div class="container-fluid pt-5 pb-5">
    <div class="row px-xl-5">
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                <i class="fa fa-user mr-2"></i>Quản lý thông tin tài khoản của bạn tại đây
            </div>
        </div>
    </div>
</div>
<!-- Account End -->
