<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Danh sách yêu thích</h1>
            <!-- Nội dung danh sách yêu thích -->
        </div>
    </div>
</div>
